body {
    margin: 0px;
}

content {
    background-color: #a0d2db;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header {
    background-color: #bee7e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;
}

#page-logo a {
    text-decoration: none;
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Kalam', cursive;
    -webkit-text-fill-color: #fed766;
    -webkit-text-stroke-color: #f4acb7;
    -webkit-text-stroke-width: 2px;
}

#button-area {
    display: flex;
    flex-direction: row;
}

#button-area button {
    background-color: #ffcad4;
    font-size: larger;
    color: black;
    height: 50px;
    width: 200px;
    margin: 5px;
    border: none;
    border-radius: 25px;
}


#button-area button:hover {
    cursor: pointer;
    background-color: #f4acb7;
    color: white;
}

#cart-list {
    display: flex;
    flex-direction: column;
    position: absolute;
}

#cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 450px;
    height: 50px;
    margin-left: -240px;
    background-color: white;
    justify-content: space-evenly;
}

#cart-qty {
    background-color: #a0d2db;
    position: absolute;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 3px 10px 3px 10px;
    margin: -65px 0px 0px 180px;
    border-radius: 15px;
}

main {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    border-radius: 50px;
}

#menu-options {
    background-color: #ffcad4;
    height: 600px;
    width: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 50px 0px 0px 50px;
    border: solid;
    border-color: #f4acb7;
}

.main-inner-menu-box button {
    background-color: #ffcad4;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    width: 100%;
    height: 100px;
    border: none;
}

.main-inner-menu-box button:hover {
    background-color: #ffd2db;
    cursor: pointer;
}

.inner-menu-box button{
    background-color: #f4acb7;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    width: 100%;
    height: 100px;
    border: none;
}

.inner-menu-box button:hover{
    background-color: #ffcad4;
    cursor: pointer;
}

#selection-header{
    background-color: #ffcfd8;
}

#selection-header:hover{
    background-color: #ffd7df;
}

#cupcake-description {
    display: flex;
    flex-direction: column;
    margin: 25px
}

.custom-option-line {
    background-color: #a0d2db;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custom-option-line p {
    margin: 3px;
}

.select-back {
    background-color: #ffcfd8 !important;
}

#cupcake-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid;
    border-color: #fed766;
    border-radius: 0px 50px 50px 0px;
}

#cupcake-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-custom-cupcake-button {
    height: 50px;
    width: 300px;
    margin: 50px;
}

#cart-panel {
    background-color: white;
    border-radius: 25px;
    width: 600px;
    height: 750px;
    margin: 100px;
    margin-top: 50px;
}

#cart-header {
    background-color: #bee7e8;
    position:relative;
    border-radius: 25px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
}

#cart-header p {
    margin-left: 25px;
    font-size: larger;
    font-style: italic;
}

#cart-item {
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:5px;
    border-radius: 5px;
}

#cart-item:hover {
    background-color: #f2f4f4;
}

#size-buttons {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

#size-buttons button {
    height: 75px;
    width: 75px;
    margin: 5px;
    border: none;
    border-radius: 15px;
}

#size-buttons button:hover {
    cursor: pointer;
}

.current-size {
    background-color: #fed766;
}

.hidden {
    display: none !important;
}