header {
    background-color: #bee7e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;
}

#page-logo a {
    text-decoration: none;
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Kalam', cursive;
    -webkit-text-fill-color: #fed766;
    -webkit-text-stroke-color: #f4acb7;
    -webkit-text-stroke-width: 2px;
}

#button-area {
    display: flex;
    flex-direction: row;
}

#button-area button {
    background-color: #ffcad4;
    font-size: larger;
    color: black;
    height: 50px;
    width: 200px;
    margin: 5px;
    border: none;
    border-radius: 25px;
}


#button-area button:hover {
    cursor: pointer;
    background-color: #f4acb7;
    color: white;
}

#cart-list {
    display: flex;
    flex-direction: column;
    position: absolute;
}

#cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 450px;
    height: 50px;
    margin-left: -240px;
    background-color: white;
    justify-content: space-evenly;
}

#cart-qty {
    background-color: #a0d2db;
    position: absolute;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 3px 10px 3px 10px;
    margin: -65px 0px 0px 180px;
    border-radius: 15px;
}

body {
    background-color: #a0d2db;
    margin: 0px;
}

main {
    background-color: white;
    height: 1800px;
    margin-left: 100px;
    margin-right: 100px;
}

#cupcake-of-the-day {
    background-color: #fed766;
    padding: 20px 0px 20px 0px;
}

#cupcake-of-the-day div {
    background-color: white;
    height: 500px;
}

#cupcake-display-area {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cupcakes {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 200px;
}

.cupcake-element {
    width: 250px;
    height: 250px;
    border: solid;
    border-color: #ffcad4;
    border-radius: 25px;
    padding: 25px;
}

.cupcake-element:hover {
    border-color: #fed766;
}

#hover-square {
    background-color: #bee7e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 250px;
    width: 250px;
    margin-top: -288px;
    margin-left: -25px;
    padding: 25px;
    border-radius: 22px;
    opacity: 98%;
}

#hover-square-text {
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
}

#hover-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#hover-buttons button {
    text-align: center;
    width: 55px;
    height: 45px;
    border-radius: 8px;
    border:none;
}

#hover-buttons button:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}