header {
    background-color: #bee7e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;
}

#page-logo a {
    text-decoration: none;
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Kalam', cursive;
    -webkit-text-fill-color: #fed766;
    -webkit-text-stroke-color: #f4acb7;
    -webkit-text-stroke-width: 2px;
}

#button-area {
    display: flex;
    flex-direction: row;
}

#button-area button {
    background-color: #ffcad4;
    font-size: larger;
    color: black;
    height: 50px;
    width: 200px;
    margin: 5px;
    border: none;
    border-radius: 25px;
}


#button-area button:hover {
    cursor: pointer;
    background-color: #f4acb7;
    color: white;
}

#cart-list {
    display: flex;
    flex-direction: column;
    position: absolute;
}

#cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 450px;
    height: 50px;
    margin-left: -240px;
    background-color: white;
    justify-content: space-evenly;
}

#cart-qty {
    background-color: #a0d2db;
    position: absolute;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 3px 10px 3px 10px;
    margin: -65px 0px 0px 180px;
    border-radius: 15px;
}