<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <script>

    </script>
    <title>Document</title>
</head>
<body>
    <header>
        <div id="page-logo">
            <a href="http://localhost:8000/">Cupcake Crafter</a>
        </div>
        <div id="button-area">
            <button id="create-cupcake">Create Cupcake</button>
            <script>
                document.getElementById('create-cupcake').addEventListener('click', e => {
                    window.location.href = '/customCupcake'
                })
            </script>
            <div id="cart">
                <button id="cart-button">Cart</button>
                <p id="cart-qty">0x</p>
                <div id="cart-list"></div>
                <script>
                    const cartbutton = document.getElementById('cart-button');

                    cartbutton.addEventListener('mouseenter', async function() {
                        const res = await fetch('/cart-data');
                        const cartData = await res.json();
                        let cartQty = 0;

                        for (let x = 0; x < cartData.length; x++) {
                            if (x > cartData.length - 1) return;
                            let newSpan = document.createElement('div');
                            newSpan.id = 'cart-item';

                            let newName = document.createElement('p'),
                                newFlavor  = document.createElement('p'),
                                newPrice = document.createElement('p'),
                                newQuantity = document.createElement('p');

                            newName.innerHTML = cartData[x].name;
                            newName.style = 'width: 200px;'
                            newFlavor.innerHTML = cartData[x].flavor;
                            newPrice.innerHTML = cartData[x].price;
                            newPrice.style = 'width: 30px;'
                            newQuantity.innerHTML = cartData[x].quantity;
                            newQuantity.style = 'width: 20px;'

                            cartQty += parseInt(cartData[x].quantity);
                            document.getElementById('cart-qty').innerHTML = `${cartQty}x`

                            newSpan.appendChild(newName);
                            newSpan.appendChild(newFlavor);
                            newSpan.appendChild(newPrice);
                            newSpan.appendChild(newQuantity);
                            document.getElementById('cart-list').appendChild(newSpan);
                            document.getElementById('cart-list').classList.remove('hidden');
                        }
                    });

                    cartbutton.addEventListener('mouseleave', e => {
                        let cartList = document.getElementById('cart-list')
                        while (cartList.firstChild){
                            cartList.removeChild(cartList.firstChild)
                        }
                    });

                    cartbutton.addEventListener('click', e => {
                        window.location.href = '/order'
                    })
                </script>
            </div>
        </div>
    </header>
    <main>
        <section id="cupcake-of-the-day">
            <div id="cupcake-area">

            </div>

        </section>
        <section id="cupcake-display-area">
            <div class="cupcakes">
                {% for cupcake in cupcakes %}
                <div class="cupcake-element" id="{{ cupcake['name'] }}">
                    <h3>{{ cupcake["name"] }}</h3>
                    <h4>Flavor: {{ cupcake["flavor"] }}</h4>
                    <h4>Frosting: {{ cupcake["frosting"] }}</h4>
                    <h4>Sprinkles: {{ cupcake["sprinkles"] }}</h4>
                    <h4>Filling: {{ cupcake["filling"] }}</h4>
                    <h4>Price: {{ cupcake["price"] }}</h4>
                </div>
                {% endfor %}
            </div>
            <script>

                // document selectors
                let hoverSquare = document.createElement('div'),
                    emptyElement = document.createElement('p'),
                    hoverSquareText = document.createElement('p'),
                    cupcakeElements = document.getElementsByClassName('cupcake-element'),
                    buttonArea = document.createElement('div'),
                    currentElement, previousElement;

                let sButton = document.createElement('button'),
                    mButton = document.createElement('button'),
                    lButton = document.createElement('button');

                sButton.innerHTML = 'mini'
                mButton.innerHTML = 'regular'
                lButton.innerHTML = 'large'


                let sizeButtons = [sButton,mButton,lButton];

                for (b in sizeButtons) {
                    sizeButtons[b].id = 'hover-size-button'
                    sizeButtons[b].addEventListener('click', e => {
                        let children = e.target.parentElement.parentElement.parentElement.children;
                        let dataArr = [];
                        for (let i = 0; i < children.length; i++) {
                            let lineData = children[i].innerHTML.split(':');
                            if (lineData[1]) {
                                dataArr.push(lineData[1]);
                            } else {
                                dataArr.push(lineData[0]);
                            }
                        }

                        data = {
                            javascript_data: {
                                name: `${dataArr[0]}`,
                                flavor: `${dataArr[1]}`,
                                frosting: `${dataArr[2]}`,
                                sprinkles: `${dataArr[3]}`,
                                filling: `${dataArr[4]}`,
                                price: `${dataArr[5]}`,
                                size: `${e.target.innerHTML}`
                            }
                        };

                        fetch('/addCustom', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                        .then(response => response.json())
                        .then(data => {
                            // handle the response from the server
                            location.reload
                        })
                        .catch(err => console.log(err));
                    })
                    buttonArea.appendChild(sizeButtons[b]);
                }

                hoverSquare.id = 'hover-square'
                buttonArea.id = 'hover-buttons'
                hoverSquareText.innerHTML = 'add to cart'
                hoverSquareText.id = 'hover-square-text'
                hoverSquare.appendChild(emptyElement);
                hoverSquare.appendChild(hoverSquareText);
                hoverSquare.appendChild(buttonArea);
                
                // each cupcake square
                for (eachElement in cupcakeElements) {
                    if (cupcakeElements[eachElement].nodeType === 1) {

                        // mouse hover
                        cupcakeElements[eachElement].addEventListener('mouseover', e => {
                            if (e.target.className === 'cupcake-element') {
                                if (e.target.id === '') {
                                    currentElement = e.target.parentElement
                                } else {
                                    currentElement = e.target;
                                }

                                if (currentElement != previousElement) {
                                    previousElement = currentElement
                                    hoverSquare.classList.remove('hidden');
                                    currentElement.appendChild(hoverSquare)
                                }
                            }
                        })

                        // mouse leave
                        cupcakeElements[eachElement].addEventListener('mouseleave', e => {
                            currentElement, previousElement = undefined
                            hoverSquare.classList.add('hidden');
                            console.log('mouse-out');
                        })
                    }
                }
            </script>
        </section>
    </main>
</body>
</html>