<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="page-logo">
            <a href="http://localhost:8000/">Cupcake Crafter</a>
        </div>
        <div id="button-area">
            <button id="create-cupcake">Create Cupcake</button>
            <script>
                document.getElementById('create-cupcake').addEventListener('click', e => {
                    window.location.href = '/customCupcake'
                })
            </script>
            <div id="cart">
                <button id="cart-button">Cart</button>
                <p id="cart-qty">0x</p>
                <div id="cart-list"></div>
                <script>
                    const cartbutton = document.getElementById('cart-button');

                    cartbutton.addEventListener('mouseenter', async function() {
                        const res = await fetch('/cart-data');
                        const cartData = await res.json();
                        let cartQty = 0;

                        for (let x = 0; x < cartData.length; x++) {
                            if (x > cartData.length - 1) return;
                            let newSpan = document.createElement('div');
                            newSpan.id = 'cart-item';

                            let newName = document.createElement('p'),
                                newFlavor  = document.createElement('p'),
                                newPrice = document.createElement('p'),
                                newQuantity = document.createElement('p');

                            newName.innerHTML = cartData[x].name;
                            newName.style = 'width: 200px;'
                            newFlavor.innerHTML = cartData[x].flavor;
                            newPrice.innerHTML = cartData[x].price;
                            newPrice.style = 'width: 30px;'
                            newQuantity.innerHTML = cartData[x].quantity;
                            newQuantity.style = 'width: 20px;'

                            cartQty += parseInt(cartData[x].quantity);
                            document.getElementById('cart-qty').innerHTML = `${cartQty}x`

                            newSpan.appendChild(newName);
                            newSpan.appendChild(newFlavor);
                            newSpan.appendChild(newPrice);
                            newSpan.appendChild(newQuantity);
                            document.getElementById('cart-list').appendChild(newSpan);
                            document.getElementById('cart-list').classList.remove('hidden');
                        }
                    });

                    cartbutton.addEventListener('mouseleave', e => {
                        let cartList = document.getElementById('cart-list')
                        while (cartList.firstChild){
                            cartList.removeChild(cartList.firstChild)
                        }
                    });

                    cartbutton.addEventListener('click', e => {
                        window.location.href = '/order'
                    })
                </script>
            </div>
        </div>
    </header>
    <content>
        <div id="order-list">
            {% for cupcake in cartData %}
            <div id="order-item" style="background-color: #eeeeee; display: grid;">
                <p style="grid-column-start: 1; grid-row-start: 1;">{{ cupcake['name'] }}</p>
                <p style="grid-column-start: 3; grid-row-start: 1;">Flavor: {{ cupcake['flavor'] }}</p>
                <p style="grid-column-start: 3; grid-row-start: 2;">Frosting: {{ cupcake['frosting'] }}</p>
                <p style="grid-column-start: 4; grid-row-start: 1;">Sprinkles: {{ cupcake['sprinkles'] }}</p>
                <p style="grid-column-start: 4; grid-row-start: 2;">Filling: {{ cupcake['filling'] }}</p>
                <p style="grid-column-start: 5; grid-row-start: 1;">Price: ${{ cupcake['price'] }}</p>
                <p style="grid-column-start: 5; grid-row-start: 2;">Quantity: {{ cupcake['quantity'] }}</p>
            </div>
            {% endfor %}
        </div>
        <div id="total-panel">
            <div id="total-area">
                <div id="total-list">
                    {% for cupcake in cartData %}
                    <div id="list-entry">
                        <p style="width:225px;">{{ cupcake['name'] }}</p>
                        <p style="width:50px; text-align:center;">${{ cupcake['price'] }}</p>
                        <p style="width:50px; text-align:center;" class="cupcake-qty">{{ cupcake['quantity'] }}</p>
                        {% set result = cupcake['price'] | float * cupcake['quantity'] | float %}
                        <p style="width:70px; text-align:end;" class="item-total">${{ result }}</p>
                    </div>
                    {% endfor %}
                    <div>
                        <p style="width:100%; text-align:center;">--------------------------------------------------------------------------------------</p>
                    </div>
                    <div>
                        <script>
                            let totalRow = document.createElement('div');
                            let totals = document.getElementsByClassName('item-total');
                            let cupcakeTotals = document.getElementsByClassName('cupcake-qty');
                            let total = 0;
                            let totalCupcakes = 0;
                            for (let e = 0; e < totals.length; e++) {
                                let price = totals[e].innerHTML;
                                let cupcakes = cupcakeTotals[e].innerHTML;
                                cupcakes = parseInt(cupcakes);
                                console.log(price)
                                float = parseFloat(price.replace(/[^\d.-]/g, ""));
                                total += float;
                                totalCupcakes += cupcakes;
                                console.log(total, totalCupcakes);
                            }
                            document.getElementById('total-list').appendChild(totalRow);
                            totalRow.id = 'total-row'
                            let totalCakes = document.createElement('p'),
                                orderTotal = document.createElement('p');
                            totalCakes.innerHTML = `${totalCupcakes}`;
                            orderTotal.innerHTML = `$${total.toFixed(2)}`;

                            totalRow.appendChild(totalCakes);
                            totalRow.appendChild(orderTotal);
                        </script>
                    </div>
                </div>
            </div>
            <button>Checkout</button>
        </div>
    </content>
</body>
</html>